[submodule "beagle-android"]
	path = beagle-android
	url = git@github.com:ZupIT/beagle-android.git
	branch = main
[submodule "beagle-backend-kotlin"]
	path = beagle-backend-kotlin
	url = git@github.com:ZupIT/beagle-backend-kotlin.git
	branch = main
[submodule "beagle-web-angular"]
	path = beagle-web-angular
	url = git@github.com:ZupIT/beagle-web-angular.git
	branch = main
[submodule "beagle-web-core"]
	path = beagle-web-core
	url = git@github.com:ZupIT/beagle-web-core.git
	branch = main
[submodule "beagle-ios"]
	path = beagle-ios
	url = git@github.com:ZupIT/beagle-ios.git
	branch = main